.divcontent{
	display: flex;
	justify-content: center;
}

.cardcontent{
	width: 100%;
    height: 100px;
    margin: 5px;
}

.cardlayout{
	  display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.mat-card, .mat-card-content, .mat-action-row, .mat-expansion-panel{
  background-color: lightblue !important;
}

.mat-expansion-panel-header, {
  background-color: blue !important;
}
