<!-- 
<div class="divcontent">
  <div class="cardlayout">
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
        <div class="cardcontent"> content </div>
</div>
</div> -->


<div class="container">
  <div class="row">
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
  </div>

  <div class="row">
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
    <div class="card col-md-3">
      <div class="card-body">Content</div> 
    </div>
  </div>
</div>