.divcontent{
	display: flex;
	justify-content: center;
}

.cardcontent{
	width: 25%;
    height: 100px;
    background-color: grey;
    margin: 3px;
    color: #fff;

}

.cardlayout{
	  display: flex;
    flex-wrap: wrap;
    width: 50%;
}
