<!-- Small switch -->
<div class="form-group">  
    <span class="switch switch-sm">
      <input type="checkbox" class="switch" id="switch-sm">
      <label for="switch-sm">Small switch</label>
    </span>
  </div>
  
  <!-- Normal switch -->
  <div class="form-group">
    <span class="switch">
      <input type="checkbox" class="switch" id="switch-normal">
      <label for="switch-normal">Normal switch</label>
    </span>
  </div>
  
  <!-- Large switch -->
  <div class="form-group">
    <span class="switch switch-lg">
      <input type="checkbox" class="switch" id="switch-lg">
      <label for="switch-lg">Large switch</label>
    </span>
  </div>